#externalStyle{
    width: 200px;
    height: 200px;
    background-color: rgb(243, 98, 98);
}

.className{
    background-color: darkgoldenrod;
    padding-bottom: 10px;
}

.className2{
    color: deeppink;
}

#ptag{
    color: aqua;
    background-color: forestgreen;
}

.left{
    float: left;
    background-color: aqua;
    width: 20%;
}

.main{
    float: left;
    background-color: rebeccapurple;
    width: 60%;
}
.right{
    float: left;
    width: 20%;
    background-color: rgb(54, 153, 51);
}

@media screen and (max-width:800px) {
    .left,.main,.right{
        width: 100%;
        color: blue;
    }
}